.ass-item {
  border: 0.1rem solid black;
  border-radius: 1.5rem;
  transition: all 0.5s;
  margin-top: 1.2rem;
}
.ass-details {
  height: 5.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  /* justify-content: space-around; */

  transition: all 0.5s;
}
.no {
  width: 10%;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
.name {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.status {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d7d7;
  height: 2.8rem;
}
.action-button {
  background: none;
  border: none;
  font-size: 1.2rem;
}
.progress {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
  gap: 0.5rem;
}
.progress-bar {
  display: flex;
  height: 1.5rem;
  width: 9rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
}
.progress-bar div {
  height: 1.5rem;
  /* width: 60%; */
  background-color: #656565;
  border-radius: 1rem;
  text-align: right;
  padding-right: 0.2rem;
  font-size: 1.1rem;
}
.grey {
  color: #adadad;
}
