.ques-section {
  padding: 1rem 3rem;
  transition: all 1s;
  display: flex;
  gap: 2rem;
}

.question-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ques-item {
  position: relative;
  border-radius: 1.5rem;
  /* background-color: #d9d9d9; */
  width: 26rem;
  height: 5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 0.5s;
}
.ques-item span:nth-of-type(1) {
  width: 10%;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
.ques-item span:nth-of-type(2) {
  width: 60%;
  display: flex;
  justify-content: center;
}
.ques-item button {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  color: inherit;
}
.opened {
  background-color: #bababa;
  /* width: 28rem; */
  /* border-radius: 1.5rem 0 0 1.5rem; */
  color: white;
}
/* .opened::after {
  content: "";
  background: url("../../shared/assets/Screenshot_2022-08-16_165027-removebg-preview\ \(1\).png")
    no-repeat;
  background-size: 2.57rem 8.6rem;
  width: 2.57rem;
  height: 8.6rem;
  transform: translate(125%, -1%);
  transition: all 1.5s;
} */

.ques-details {
  /* background-color: #979797; */
  border: 0.2rem #bababa solid;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.7rem;
  padding: 1.5rem 2rem;
  color: #8a8a8a;
  position: relative;
}
.ques-details h3 {
  color: #282828;
}
h3 span {
  font-weight: 400;
  font-size: smaller;
}
/*
.ques-details::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2rem;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translate(-50%, -100%);
  z-index: 99999;
}
.ques-details::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: translate(-50%, 100%);
  z-index: 99999;
} */

.sub-pending-sec {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sub-pending-sec .before-submit {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
}
/* .sol-textarea {
  width: 100%;
  padding: 1rem;
  display: block;
  border-radius: 1.5rem;
  border: none;
  resize: none;
  flex: 1 1 auto;
} */

.ques-details button,
.button-flex button {
  background-color: #bababa;
  border: none;
  border-radius: 1.2rem;
  padding: 1rem;
  font-size: 1.2rem;
  align-self: flex-start;
  margin-top: 1rem;
  font-weight: 500;
}

.after-sub {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.completed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-flex {
  display: flex;
  justify-content: space-around;
}
.white-area {
  flex: 1 1 auto;
  border-radius: 1.5rem;
  width: 100%;
  /* max-height: 10rem; */
  /* overflow-y: scroll; */
  padding: 1rem;
  background-color: #f5f5f5;
  color: #979797;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-area span {
  color: #282828;
  width: 70%;
  text-align: left;
}
.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formButtons {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 1rem;
}
.formButtons div:first-of-type {
  display: flex;
  gap: 1rem;
}
.formButtons button {
  color: #656565 !important;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 1rem 1.2rem 0.5rem;
}
.formButtons button svg {
  height: 1.2rem;
  fill: #656565;
}
.submit-solution {
  padding: 1rem 3rem !important;
  height: 100% !important;
  font-size: 1.2rem !important;
  color: #282828;
}

/* .text {
  border: dotted #555 3px;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.white-area-element {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.white-area a {
  width: 1.2rem;
  height: 1.2rem;
}
.edit-button,
.delete-button {
  background-color: transparent !important;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 0 !important;
  padding: 0 !important;
  margin-left: 1.5rem;
}
